modules = ["python-3.12"]

[nix]
channel = "stable-25_05"
packages = ["cairo", "ffmpeg-full", "freetype", "ghostscript", "gobject-introspection", "gtk3", "pkg-config", "qhull", "tcl", "tk"]

[workflows]
runButton = "Run Flask App"

[[workflows.workflow]]
name = "Run Flask App"
author = 46410575
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python app.py"
